.plataforma{
	position: absolute;
	top: 150px;
	height: 250px;
	width: 550px;
	background-image: url("../img/plataforma.png");
	z-index: 1;
}
.capellada{
	position: absolute;	
	height: 350px;
	width: 570px;
	background-image: url("../img/capellada.png");
	background-repeat: no-repeat;
	z-index: 2;
	opacity: 0.5;
}
.adornos{
	position: absolute;	
	height: 350px;
	width: 570px;
	background-image: url("../img/capellada.png");
	background-repeat: no-repeat;
	z-index: 3;
	opacity: 0.5;
}