.plataforma{
	position: absolute;
	background-color: blue;
	left: 100px;
	right: 100px;
	top: 100px;
	z-index: 1;
}
.capellada{
	position: absolute;
	background-color: red;
	left: 110px;
	right: 110px;
	top: 110px;
	z-index: 2;
	opacity: 0.5;
}
.adornos{
	position: absolute;
	background-color: yellow;
	left: 120px;
	right: 120px;
	top: 120px;
	z-index:3;
	opacity: 0.5;
}